[access]
	inheritFrom = All-Projects
[project]
	description = This is a little description
[access "refs/*"]
	owner = group user/Giuseppe Rosa (giusepperosa93)
[access "refs/for/refs/*"]
	read = group user/Giuseppe Rosa (giusepperosa93)
	push = group user/Giuseppe Rosa (giusepperosa93)
	label-Code-Review = -2..+2 group user/Giuseppe Rosa (giusepperosa93)
	label-Verified = -1..+1 group user/Giuseppe Rosa (giusepperosa93)
	rebase = group user/Giuseppe Rosa (giusepperosa93)
	removeReviewer = group user/Giuseppe Rosa (giusepperosa93)
	submit = group user/Giuseppe Rosa (giusepperosa93)
[access "refs/heads/*"]
	read = group user/Giuseppe Rosa (giusepperosa93)
	create = group user/Giuseppe Rosa (giusepperosa93)
	push = +force group user/Giuseppe Rosa (giusepperosa93)
	pushMerge = group user/Giuseppe Rosa (giusepperosa93)
[access "refs/tags/*"]
	push = group user/Giuseppe Rosa (giusepperosa93)
	push = +force group user/Giuseppe Rosa (giusepperosa93)
